@import url('https://fonts.googleapis.com/css2?family=Sometype+Mono:ital,wght@0,400..700;1,400..700&display=swap');

:root {
    font-family: "Sometype Mono", monospace;
    font-size: 16px;
    user-select: none;
    overflow-x: hidden;
    overflow-y: hidden;
}

html, body, #sectionContainer {
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    transition: 1s;
}

body > video {
    filter: none !important;
}

section {
    width: 100%;
    height: 100%;
}

header {
    position: absolute;
}

#hamburger {
    width: 60px;
    height: 45px;
    position: relative;
    margin: 50px 0 0 50px;
    transform: none;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

#hamburger:hover {
    scale: 1.1;
    transition: scale 0.5s;
}

#hamburger span {
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    background: aliceblue;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: none;
    transition: 0.25s ease-in-out;
}

#hamburger span:nth-child(1) {
    top: 0px;
    transform-origin: left center;
}
  
#hamburger span:nth-child(2) {
    top: 18px;
    transform-origin: left center;
}
  
#hamburger span:nth-child(3) {
    top: 36px;
    transform-origin: left center;
}
  
#hamburger.open span:nth-child(1) {
    transform: rotate(45deg);
    top: -3px;
    left: 8px;
}
  
#hamburger.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
}
  
#hamburger.open span:nth-child(3) {
    transform: rotate(-45deg);
    top: 39px;
    left: 8px;
}

li {
    position: relative;
    opacity: 0;
    left: -200%;
    padding-bottom: 30px;
}

nav li:hover {
    scale: 1.1;
}

nav li:nth-child(1){
    transition: left 1s, scale 0.5s, opacity 1s;
}

nav li:nth-child(2){
    transition: left 1.25s, scale 0.5s, opacity 1s;
}

nav li:nth-child(3){
    transition: left 1.5s, scale 0.5s, opacity 1s;
}

nav.open li {
    opacity: 1;
    left: 0;
}

ul {
    margin-left: 60px;
    margin-top: 30px;
    list-style: none;
    padding: 0;
}

a {
    font-size: 2rem;
    text-decoration: none;
    color: aliceblue;
    cursor: pointer;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    color: aliceblue;
    text-shadow: 5px 5px 5px darkslategrey;
}

video {
    position: absolute;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    filter: none;
    z-index: -1;
}

video:not(:nth-child(1)) {
    z-index: -2;
}

h1 {
    font-size: 8rem;
    margin: 0;
}

@keyframes widen {
    from {
        width: 0;
    }
    to {
        width: 40%;
    }
}

hr {
    width: 40%;
    height: 3px;
    border: none;
    background-color: aliceblue;
    box-shadow: 5px 5px 5px darkslategrey;
    animation: widen 3s;
}

main p {
    height: 30px;
    font-size: 2rem;
    margin-top: 30px;
    text-shadow: 5px 5px 5px darkslategrey;
}

img {
    position: fixed;
    width: 85px;
    cursor: pointer;
    top:-50%;
    right: 50%;
    transform: translateX(50%);
    z-index: 1;
    transition: width 0.1s, top 2s;
}

img:hover {
    width: 90px;
}

img:active {
    width: 80px;
}

.img-slide-down {
    top: 1%;
}

#theme {
    top: 65%;
    transition: width 0.1s, transform 1s;
}

#theme:hover {
    transform: translateX(50%) rotate(360deg);
}

footer {
    position: relative;
    left: 50px;
    bottom: 90px;
    color: aliceblue;
    display: flex;
    justify-content: start;
    font-size: 1.1rem;
}

i {
    position: absolute;
    left: 50px;
    font-size: 2rem;
    opacity: 0.75;
    text-shadow: none;
    color: aliceblue;
}

b {
    position: absolute;
    top: 0;
    right: 50px;
    font-size: 10rem;
    opacity: 0.75;
    color: aliceblue;
}

section:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: aliceblue;
    text-shadow: 5px 5px 5px darkslategrey;

    main {
        display: flex;
        align-items: center;
        flex-direction: row;
        width: 60%;
        height: 65%;
        background-color: darkslategrey;
        border: 10px solid aliceblue;
        border-radius: 30px;
        box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.5);
    }

    i {
        top: calc(100vh + 50px);
    }

    b {
        top: 100vh;
    }

    h2 {
        font-size: 3rem;
    }

    .navigation {
        top: calc(100vh + 50%);
        left: 50%;
        width: 40px;
        transform: translateX(calc(35vw - 50%));
    }

    .navigation:nth-child(1) {
        transform: translateX(calc(-35vw - 50%));
    }

    .navigation:hover {
        width: 45px;
    }

    .navigation:active {
        width: 35px;
    }

    div {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
    }

    div p {
        width: 70%;
        height: auto;
        padding: 50px;
        text-align: justify;
        margin: 0;
    }

    div img {
        position: static;
        width: 30%;
        height: 100%;
        border-radius: 0 20px 20px 0;
        transform: none;
    }

    div:nth-child(3) img {
        border-radius: 20px 0 0 20px;
    }
}

section:nth-child(3) {
    i {
        top: calc(200vh + 50px);
    }

    b {
        top: 200vh;
    }
}

section:nth-child(4) {
    i {
        top: calc(300vh + 50px);
    }

    b {
        top: 300vh;
    }
}