@import url('https://fonts.googleapis.com/css2?family=Sometype+Mono:ital,wght@0,400..700;1,400..700&display=swap');

:root {
    font-family: "Sometype Mono", monospace;
    font-size: 16px;
    user-select: none;
    overflow: hidden;
    background-color: rgb(15, 15, 15);
}

html, body, #sectionContainer {
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    transition: 1s;
}

section {
    width: 100%;
    height: 100%;
    background-color:darkslategrey;
    z-index: -2;
}

header {
    position: absolute;
}

#hamburger {
    width: 60px;
    height: 45px;
    position: relative;
    margin: 50px 0 0 50px;
    cursor: pointer;
    transition: 0.5s;
}

#hamburger span {
    display: block;
    height: 5px;
    width: 100%;
    background: aliceblue;
    border-radius: 9px;
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.25s;
    transform-origin: left center;
}

#hamburger span:nth-child(2) {
    top: 18px;
}

#hamburger span:nth-child(3) {
    top: 36px;
}

#hamburger:hover {
    scale: 1.1;
}

#hamburger.open span:nth-child(1) {
    transform: rotate(45deg);
    top: -3px;
    left: 8px;
}

#hamburger.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
}

#hamburger.open span:nth-child(3) {
    transform: rotate(-45deg);
    top: 39px;
    left: 8px;
}

li {
    position: relative;
    opacity: 0;
    left: -200%;
    padding-bottom: 30px;
}

li:nth-child(1){
    transition: left 1s, scale 0.5s, opacity 1s;
}

li:nth-child(2){
    transition: left 1.25s, scale 0.5s, opacity 1s;
}

li:nth-child(3){
    transition: left 1.5s, scale 0.5s, opacity 1s;
}

li:hover {
    scale: 1.1;
}

nav.open li {
    opacity: 1;
    left: 0;
}

ul {
    margin: 30px 0 0 60px;
    list-style: none;
    padding: 0;
}

a {
    font-size: 2rem;
    text-decoration: none;
    color: aliceblue;
    cursor: pointer;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    color: aliceblue;
    text-shadow: 5px 5px 5px darkslategrey;
}

video {
    position: absolute;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

h1 {
    font-size: 8rem;
    margin: 0;
}

.logo {
    width: 85px;
    height: 85px;
    margin: 20px;
}

@keyframes widen {
    from { width: 0; }
    to { width: 40%; }
}

hr {
    width: 40%;
    height: 3px;
    background-color: aliceblue;
    box-shadow: 5px 5px 5px darkslategrey;
    animation: widen 3s;
    border: none;
}

main p {
    height: 30px;
    font-size: 2rem;
    margin-top: 30px;
}

#return {
    position: fixed;
    width: 85px;
    cursor: pointer;
    top: -50%;
    right: 50%;
    transform: translateX(50%);
    z-index: 1;
    transition: width 0.1s, top 2s;
}

#return:hover {
    width: 90px;
}

#return:active {
    width: 80px;
}

#return.img-slide-down {
    top: 1%;
}

footer, i, b {
    position: absolute;
    color: aliceblue;
}

footer {
    left: 50px;
    bottom: 25px;
    display: flex;
    justify-content: start;
    font-size: 1.1rem;
}

i {
    left: 50px;
    font-size: 2rem;
    opacity: 0.75;
    text-shadow: none;
}

b {
    right: 50px;
    font-size: 10rem;
    opacity: 0.75;
}

section:nth-child(2) {
    display: flex;
    flex-direction: row;
    color: aliceblue;
}

section:nth-child(2) div {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section:nth-child(2) p {
    width: 80%;
    text-align: justify;
    font-size: 2rem;
}

section:nth-child(2) span {
    width: 30%;
}

section:nth-child(2) span img {
    position: relative;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

h2 {
    font-size: 3rem;
}

.navigation {
    position: fixed;
    cursor: pointer;
    top: calc(100vh + 50%);
    left: 2%;
    width: 40px;
    transform: translateX(-50%);
    transition: 0.1s;
    z-index: 1;
}

.navigation:nth-last-child(1) {
    left: 68%;
}

.navigation:hover {
    scale: 1.1;
}

.navigation:active {
    scale: 0.9;
}

i {
    top: calc(100vh * (var(--section-index, 1) - 1) + 50px);
}

b {
    top: calc(100vh * (var(--section-index, 1) - 1));
}

section:nth-child(2) { --section-index: 2; }
section:nth-child(3) { --section-index: 3; }
section:nth-child(4) { --section-index: 4; }