@import url('https://fonts.googleapis.com/css2?family=Sometype+Mono:ital,wght@0,400..700;1,400..700&display=swap');

:root {
    font-family: "Sometype Mono", monospace;
    font-size: 16px;
    user-select: none;
    overflow: hidden;
}

@media only screen and (max-width: 750px) {
    :root {
        font-size: 6px;
    }

    section hr {
        width: 85%;
        animation: none;
    }

    .carousel.carousel {
        width: 100%;
    }

    .carousel-contents.carousel-contents div img {
        margin: 0 auto;
    }

    .carousel-contents.carousel-contents div p {
        font-size: 2rem;
    }

    .carousel-contents.carousel-contents div p:last-child {
        width: 85%;
    }

    .carousel-imgs {
        display: none;
    }

    .navigation.navigation:last-child {
        left: 96%;
    }

    table th img {
        display: none;
    }

    section:nth-child(4) img {
        display: none;
    }

    span form {
        width: 85%;
    }
}

@media only screen and (min-width: 751px) and (max-width: 1500px) {
    :root {
        font-size: 8px;
    }
}

@media only screen and (min-width: 1501px) and (max-width: 2000px) {
    :root {
        font-size: 12px;
    }
}

@media only screen and (min-width: 2001px) and (max-width: 3000px) {
    :root {
        font-size: 16px;
    }
}

@media only screen and (min-width: 3001px) and (max-width: 3500px) {
    :root {
        font-size: 20px;
    }
}

@media only screen and (min-width: 3501px) {
    :root {
        font-size: 24px;
    }
}

* {
    box-sizing: border-box;
}

html, body, #sectionBox {
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    transform: scale(1);
    transition: 0.75s;
}

section {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgb(10, 40, 70);
    color: aliceblue;
    z-index: -2;
}

section:nth-child(1) {
    --section-index: 0;
    display: block;
    text-shadow: 0.3rem 0.3rem 0.3rem rgba(0, 0, 0, 0.5);
}

section:nth-child(2) {
    --section-index: 1;
}

section:nth-child(3) {
    --section-index: 2;
    align-items: center;
    background-color: rgb(20, 50, 80);
    padding-top: 8rem;
}

section:nth-child(4) {
    --section-index: 3;
    align-items: center;
    background-color: rgb(10, 40, 70);
    padding-top: 8rem;
}

header {
    position: absolute;
}

ul {
    list-style: none;
    margin: 4rem;
    padding: 0;
}

li {
    position: relative;
    padding-bottom: 2rem;
    transition: 0.25s;
}

li:hover {
    transform: scale(1.1);
}

li:active {
    transform: scale(0.95);
}

a {
    font-size: 1.8rem;
    text-decoration: none;
    color: aliceblue;
    cursor: pointer;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

h1 {
    font-size: 8rem;
    margin: 0;
}

.logo {
    width: 5rem;
    margin: 2rem;
}

hr {
    width: 0;
    height: 0.2rem;
    background-color: aliceblue;
    animation: widen 3s forwards;
    border: none;
}

@keyframes widen {
    100% { 
        width: 40%;
    }
}

main p {
    height: 2rem;
    font-size: 2rem;
    margin-top: 2rem;
}

.return {
    position: fixed;
    width: 5rem;
    cursor: pointer;
    top: -50%;
    right: 50%;
    transform: translate(50%, 10%);
    transition: width 0.25s, top 1s;
}

.return:hover {
    width: 5.5rem;
}

.return:active {
    transition: width 0.1s, top 1s;
    width: 4.5rem;
}

.slide-down {
    top: 1%;
}

footer, i, b {
    position: absolute;
}

footer {
    left: 3rem;
    bottom: 3rem;
    font-size: 1.3rem;
}

footer p {
    margin: 0;
}

i {
    top: calc(100% * var(--section-index) + 3rem);
    left: 3rem;
    font-size: 2rem;
    opacity: 0.75;
    z-index: 5;
}

b {
    top: calc(100% * var(--section-index) + 1rem);
    right: 3rem;
    font-size: 10rem;
    text-shadow: 0.3rem 0.3rem 0.3rem rgba(0, 0, 0, 0.5);
    z-index: 5;
}

.carousel {
    width: 70%;
    flex-direction: column;
    justify-content: center;
}

.blink {
    margin: 0 0.5rem 0.5rem 0.5rem;
    animation: blink 2s infinite;
}
  
@keyframes blink {
    50% {
      opacity: 0;
    }
}

.carousel-titles {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 5rem;
    width: 100%;
    margin: 1.75rem;
    overflow: hidden;
}

.carousel-titles h2 {
    display: flex;
    position: absolute;
    align-items: center;
    transition: top 0.75s;
    margin: 0;
    height: 100%;
}

.carousel-contents {
    display: flex;
    position: relative;
    width: 85%;
    overflow: hidden;
}

.carousel-contents div {
    display: flex;
    position: absolute;
    justify-content: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    width: 100%;
    transition: left 0.75s;
}

.carousel-contents div p {
    width: 85%;
    text-align: justify;
    font-size: 1.6rem;
    margin: 1rem;
}

.carousel-contents div p:last-child {
    width: 55%;
}

.carousel-contents div img {
    width: 30%;
}

.carousel-imgs {
    position: relative;
    width: 30%;
    overflow: hidden;
}

.carousel-imgs img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: -100%;
    transition: top 0.75s;
}

.navigation {
    position: fixed;
    cursor: pointer;
    top: 150%;
    left: 2.5%;
    width: 2.5rem;
    transform: translateX(-50%);
    transition: 0.25s;
}

.navigation:nth-last-child(1) {
    left: 67.5%;
}

.navigation:hover {
    transform: translateX(-50%) scale(1.1);
}

.navigation:active {
    transition: 0.1s;
    transform: translateX(-50%) scale(0.95);
}

table {
    width: 85%;
    font-size: 1.3rem;
    border-collapse: collapse;
    text-align: center;
}

.hide {
    display: none;
}

table img {
    width: 2rem;
    margin: 0 1rem -0.5rem 1rem;
}

table button {
    width: 100%;
    background-color: aliceblue;
    color: rgb(20, 50, 80);
    border: 0.25rem solid rgb(20, 50, 80);
    padding: 1rem;
    font-size: 1.3rem;
    font-weight: bold;
    cursor: pointer;
    opacity: 0;
    transition: 0.25s;
}

table button:hover {
    background-color: rgb(20, 50, 80);
    color: aliceblue;
}

table button:active {
    transform: scale(0.95);
    transition: 0.1s;
}

th {
    font-size: 1.8rem;
}

th picture:last-child img {
    transform: scaleX(-1);
}

tr:nth-child(2) td {
    font-size: 2.3rem;
}

th:first-child, td:first-child {
    text-align: left;
}

th, td {
    width: 20%;
    padding: 1rem;
    white-space: nowrap;
    transition: 0.25s;
}

section:nth-child(4) img {
    position: absolute;
    width: 25%;
    height: 100%;
    top: 300%;
    left: 0;
    object-fit: cover;
}

section:nth-child(4) picture:last-child img {
    left: auto;
    right: 0;
}

h2 {
    font-size: 3rem;
    text-align: center;
}

form {
    width: 40%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 3rem;
}

form * {
    width: 100%;
}

.short {
    width: 48%;
}

label {
    font-size: 1.5rem;
    font-weight: bold;
    color: aliceblue;
}

input, select {
    font-size: 1.3rem;
    height: 2.6rem;
    padding: 0.5rem;
    margin: 1rem 0 2rem 0;
    border: none;
}

input[type=submit] {
    height: auto;
    width: 100%;
    padding: 1rem;
    margin: 0.5rem 0;
    font-size: 1.5rem;
    color: aliceblue;
    background-color: rgb(10, 40, 70);
    border: 0.25rem solid aliceblue;
    font-weight: bold;
    cursor: pointer;
    transition: 0.25s;
}

input[type=submit]:hover {
    background-color: aliceblue;
    color: rgb(10, 40, 70);
}

input[type=submit]:active {
    transition: 0.1s;
    transform: scale(0.95);
}